<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1">
    <meta content="随时随地发现新鲜事！微博带你欣赏世界上每一个精彩瞬间，了解每一个幕后故事。分享你想表达的，让全世界都能听到你的心声！" name="description">
    <script type="text/javascript">
        try {
            document.execCommand("BackgroundImageCache", false, true);
        } catch (e) { }
    </script>
    <title>微博-随时随地发现新鲜事</title>
    <link href="//img.t.sinajs.cn/t6/style/css/module/base/frame.css?version=2018040320 " type="text/css" rel="stylesheet" charset="utf-8">
    <link src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/frame.css ">
    <link rel="stylesheet" href="./css/login_v5.css ">
    <link rel="stylesheet" href="./css/skin.css ">
    <link rel="stylesheet" href="./css/base.css ">
    <style>
        #js_style_css_module_global_WB_outframe {
            height: 42px;
        }
    </style>
    <style></style>
</head>

<body class="FRAME_login ggzs-enabled">
    <div style="position: absolute; top: -9999px;">
        <div id="js_style_css_module_global_WB_outframe"></div>
    </div>
    <style></style>



    <div style="position: absolute; top: -9999px;">
        <div id="js_style_css_module_global_WB_outframe"></div>
    </div>

    <div class="B_unlog">
        <div class="WB_miniblog">
            <div class="WB_miniblog_fb">
                <div id="weibo_top_public">
                    <!--spec start-->
                    <!--顶部导航-->
                    <div class="WB_global_nav WB_global_nav_v2 " node-type="top_all">
                        <div class="gn_header clearfix">
                            <div class="gn_logo" node-type="logo" data-logotype="logo" data-logourl="//weibo.com?topnav=1&amp;mod=logo">
                                <a href="" class="box" title="" node-type="logolink" suda-uatrack="key=topnav_tab&amp;value=weibologo" target="_top">
                                    <span class="logo"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--spec end-->
                </div>
                <div class="WB_main clearfix" id="plc_frame">
                    <div class="WB_frame">
                        <!-- ／左导 -->
                        <div id="plc_main">
                            <div id="plc_unlogin_home_main">
                                <div class="WB_frame_c">
                                    <div id="pl_unlogin_home_feed">
                                        <!--榜单栏位置-->
                                        <!--/ card-->
                                        <div class="UG_slider">
                                            <div class="dot_box" node-type="dot_box" action-type="dot_box">
                                                <a href="" class="dot " node-type="dot" action-type="dot"></a>
                                                <a href="" class="dot " node-type="dot" action-type="dot"></a>
                                                <a href="" class="dot current" node-type="dot" action-type="dot"></a>
                                                <a href="" class="dot " node-type="dot" action-type="dot"></a>
                                                <a href="" class="dot " node-type="dot" action-type="dot"></a>
                                            </div>
                                        </div>
                                        <!-- card -->
                                        <div id="updatePage" class="UG_tips" action-type="unread_feed_tip">您有未读内容，点击查看
                                            <em id="closeUpdatePage" class="W_ficon ficon_close S_ficon" action-type="close">X</em>
                                        </div>
                                        <div class="UG_contents" id="PCD_pictext_i_v5">
                                            <!--feed内容-->
                                            <ul class="pt_ul clearfix" pagenum="" node-type="feed_list">
                                                <!--/read_pos-->
                                                <div class="UG_list_a" mid="4224687628089927" action-type="feed_list_item" href="" suda="key=nologin_home&amp;value=nologin_card_weibo:4224687628089927"
                                                    suda-uatrack="key=www_unlogin_home&amp;value=recommend_feed">
                                                    <div class="list_title_s ">
                                                        <div>
                                                            <a target="_blank" render="ext" suda-uatrack="key=topic_click&amp;value=click_topic" class="a_topic" extra-data="type=topic"
                                                                href="">#节日谈#</a>【中国各省旅游简图全了！转发收藏
                                                            <img class="W_img_face" render="ext" src="//img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d0/z2_org.gif" title="[赞]"
                                                                alt="[赞]" type="face">】清明、五一、端午，三个小长假如何过？去哪玩？这里有中国各省旅游简图，太全了，必须收藏，转给需要的人！ ​​​​
                                                        </div>
                                                    </div>
                                                    <div class="list_nod clearfix">
                                                        <div class="pic W_piccut_v">
                                                            <img src="https://ww4.sinaimg.cn/thumb180/60718250ly1fpzbs5llxqj20j62mk7eu.jpg" alt="">
                                                        </div>
                                                        <div class="pic W_piccut_v">
                                                            <img src="https://ww4.sinaimg.cn/thumb180/60718250ly1fpzbs3ju37j20j61uzqbn.jpg" alt="">
                                                        </div>
                                                        <div class="pic W_piccut_v">
                                                            <img src="https://ww4.sinaimg.cn/thumb180/60718250ly1fpzbs50jyij20j6365dwh.jpg" alt="">
                                                        </div>
                                                        <div class="pic W_piccut_v">
                                                            <img src="https://ww4.sinaimg.cn/thumb180/60718250ly1fpzbs4sfd5j20j62ra7ie.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="subinfo_box clearfix">
                                                        <!-- 点赞 box
                                                            -->
                                                        <span class="subinfo_rgt S_txt2 subinfo_dianzan">
                                                            <em class="W_ficon ficon_praised S_ficon W_f16">ñ</em>
                                                            <em>13330</em>
                                                        </span>
                                                        <!-- 评论 box -->
                                                        <span class="rgt_line W_fr"></span>
                                                        <span href="#modal-container-2" role="button" data-toggle="modal" class="subinfo_rgt S_txt2 subinfo_plun">
                                                            <em class="W_ficon ficon_repeat S_ficon W_f16"></em>
                                                            <em>3238</em>
                                                        </span>
                                                    </div>
                                                </div>
                                                <!--article feed-->
                                                <div class="UG_list_v2 clearfix" action-type="feed_list_item" mrid="rid=10_0_0_2606569798876657238_0_0" tbinfo="ouid=1192329374"
                                                    diss-data="group_source=group_all&amp;rid=10_0_0_2606569798876657238_0_0"
                                                    mid="4224666153658695">
                                                    <div class="vid" suda-uatrack="key=multimedia_bigplay&amp;value=bigplay_button:4117617423636307:1034-video:4117617423636307:1034%3A307221839a9d952b67ba25b8e2e8ca1b:home:1992613670:4117617423636307:1992613670"
                                                        action-type="feed_list_third_rend" node-type="fl_h5_video" href="" action-data="type=feedvideo&amp;objectid=1034:963c2e4f1c36b14c5b56bdfd95dafcde&amp;keys=4224666137789442&amp;video_src=https%3A%2F%2Ff.us.sinaimg.cn%2F004xAPVKlx07joCL2Nl6010402000JxD0k010.mp4%3Flabel%3Dmp4_hd%26template%3D256x256.25%26Expires%3D1522762222%26ssig%3DwQQ%252FTAJ43D%26KID%3Dunistore%2Cvideo&amp;cover_img=https%3A%2F%2Fwx1.sinaimg.cn%2Forj480%2F4711809ely1fpz9bdmvgsj20740740sp.jpg&amp;card_height=256&amp;card_width=256&amp;play_count=914万&amp;duration=9&amp;short_url=http%3A%2F%2Ft.cn%2FRmvliW1%3Fm%3D4224666153658695%26u%3D1192329374&amp;encode_mode=&amp;bitrate=&amp;biz_id=230444&amp;current_mid=4224666153658695"
                                                        mediasize="256:256">
                                                        <!--js渲染video-->
                                                        <div class="vid W_piccut_v">
                                                            <!--js渲染video-->
                                                            <div node-type="fl_h5_video_pre">
                                                                <img src="https://wx1.sinaimg.cn/orj480/4711809ely1fpz9bdmvgsj20740740sp.jpg">
                                                                <i class="W_icon icon_playvideo"></i>
                                                            </div>
                                                            <div node-type="fl_h5_video_disp" style="display:none"></div>
                                                        </div>
                                                    </div>
                                                    <div class="list_des" action-type="feed_list_item" mid="4224666153658695" href="">
                                                        <h3 class="list_title_s">没去机场没逛公园没直播
                                                            <img class="W_img_face" render="ext" src="//img.t.sinajs.cn/t4/appstyle/expression/ext/normal/3a/moren_xiaoerbuyu_org.png"
                                                                title="[笑而不语]" alt="[笑而不语]" type="face">，长发是以前短发是现在，堵唷昂得丝🥚得🤗。
                                                            <a suda-uatrack="key=tblog_card&amp;value=click_title:4224666153658695:1034-video:1034%3A963c2e4f1c36b14c5b56bdfd95dafcde::1192329374:4224666153658695:1192329374"
                                                                title="谢娜的秒拍视频" href="" alt="http://t.cn/RmvliW1" action-type="feed_list_url"
                                                                target="_blank">
                                                                <i class="W_ficon ficon_cd_video">L</i>谢娜的秒拍视频</a> ​​​​</h3>
                                                        <div class="subinfo_box clearfix">
                                                            <a href="" target="_blank">
                                                                <span class="subinfo_face ">
                                                                    <img src="https://tva3.sinaimg.cn/crop.0.1.1242.1242.50/4711809ejw8f387zus4vpj20yi0ykjwd.jpg" width="20" height="20" alt="">
                                                                </span>
                                                            </a>
                                                            <a href="" target="_blank">
                                                                <span class="subinfo S_txt2">谢娜</span>
                                                            </a>
                                                            <!-- <span class="subinfo S_txt2">今天 10:26</span> -->
                                                        </div>
                                                        <div class="subinfo_box clearfix subinfo_box_btm">
                                                            <span class="subinfo_rgt S_txt2 subinfo_dianzan">
                                                                <em class="W_ficon ficon_praised S_ficon W_f16">ñ</em>
                                                                <em>128958</em>
                                                            </span>
                                                            <span class="rgt_line W_fr"></span>
                                                            <span class="subinfo_rgt S_txt2">
                                                                <em class="W_ficon ficon_repeat S_ficon W_f16"></em>
                                                                <em>4881</em>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- read_pos -->
                                                <!--/read_pos-->
                                            </ul>
                                            <!--/feed内容-->
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="pl_unlogin_home_adcontent"></div>

                                <div id="pl_unlogin_home_hotsearchkeywords"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <a class="W_gotop S_ficon_bg" id="base_scrollToTop" href="" style="visibility: hidden; transform: translateZ(0px); position: absolute; bottom: auto; top: 475px;">
                    <em class="W_ficon ficon_backtop S_bg2_c">Ú</em>
                </a>
                <a class="W_gotop S_ficon_bg  U_reload" id="base_reload" href="" style="visibility: visible; position: absolute; bottom: auto; top: 425px; transform: translateZ(0px);">
                    <em class="W_ficon ficon_reload S_bg2_c">ù</em>
                </a>
            </div>
        </div>
    </div>
    <div id="v6_pl_base"></div>
    


<!-- 
    发表帖子:
-->
<div class="modal fade" id="modal-container-655371" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <style>
        textarea{width: 100%;border: 0;}    
        </style>
        <div class="modal-dialog" style="    top: 13%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        发表我的帖子                        
                    </h4>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        <textarea name="" id="fabiaoTitle" cols="30" placeholder="标题"></textarea>
                    </h4>
                </div>
                <div class="modal-body">
                    <textarea name="" id="fabiaoContent" cols="30" placeholder="内容"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="fabiao" type="button" class="btn btn-primary">发表</button>
                </div>
            </div>
        </div>
    </div>


<!-- 
    发表评论:
-->
    <div class="modal fade" id="modal-container-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <style>
        textarea{width: 100%;border: 0;}    
        </style>
        <div class="modal-dialog" style="    top: 13%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">发表我的评论</h4>
                </div>
                <div class="modal-body">
                    <textarea name="" id="fabiaoPlun-content" cols="30" placeholder="内容"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="fabiaoPlun-btn" type="button" class="btn btn-primary">发表</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./script/common.js"></script>
    <script src="./script/ajax.js"></script>
    <script src="./script/build.js"></script>

</body>

</html>